In [1]:
import pandas as pd
import re
#set ups
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)
# importing package 
import matplotlib.pyplot as plt 
import numpy as np 
import requests

#setups
%matplotlib inline

In [2]:
df=pd.read_csv("listings_full.csv")

## Variables used !!!!!

ent_room : df containing only the listings that have entire rooms <br>
listing : df containing only the number of listings that have entire rooms <br>

## Doing all the checks needed

No much cleaning is needed so we are going to do initial chscks before we strat the analysis

In [3]:
df.shape

(13182, 75)

In [4]:
df.dtypes

id                                                int64
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
source                                           object
name                                             object
description                                     float64
neighborhood_overview                            object
picture_url                                      object
host_id                                           int64
host_url                                         object
host_name                                        object
host_since                                       object
host_location                                    object
host_about                                       object
host_response_time                               object
host_response_rate                               object
host_acceptance_rate                             object
host_is_superhost                                object
host_thumbnail_url                               object
host_picture_url                                 object
host_neighbourhood                               object
host_listings_count                               int64
host_total_listings_count                         int64
host_verifications                               object
host_has_profile_pic                             object
host_identity_verified                           object
neighbourhood                                    object
neighbourhood_cleansed                           object
neighbourhood_group_cleansed                    float64
latitude                                        float64
longitude                                       float64
property_type                                    object
room_type                                        object
accommodates                                      int64
bathrooms                                       float64
bathrooms_text                                   object
bedrooms                                        float64
beds                                            float64
amenities                                        object
price                                            object
minimum_nights                                    int64
maximum_nights                                    int64
minimum_minimum_nights                            int64
maximum_minimum_nights                            int64
minimum_maximum_nights                            int64
maximum_maximum_nights                            int64
minimum_nights_avg_ntm                          float64
maximum_nights_avg_ntm                          float64
calendar_updated                                float64
has_availability                                 object
availability_30                                   int64
availability_60                                   int64
availability_90                                   int64
availability_365                                  int64
calendar_last_scraped                            object
number_of_reviews                                 int64
number_of_reviews_ltm                             int64
number_of_reviews_l30d                            int64
first_review                                     object
last_review                                      object
review_scores_rating                            float64
review_scores_accuracy                          float64
review_scores_cleanliness                       float64
review_scores_checkin                           float64
review_scores_communication                     float64
review_scores_location                          float64
review_scores_value                             float64
license                                          object
instant_bookable                                 object
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
dtype: object

In [5]:
# keeping the columns i am interested in
df=df[['id',
       'name', 
       'host_id',
       'host_name', 
       'host_since',
       'host_location', 
       'host_is_superhost',
       'host_neighbourhood', 
       'host_listings_count',
       'host_total_listings_count',
       'neighbourhood',
       'neighbourhood_cleansed',
       'latitude', 'longitude',
       'property_type',
       'room_type', 
       'price',
       'minimum_nights', 
       'maximum_nights',
       'minimum_minimum_nights',
       'maximum_minimum_nights',
       'minimum_maximum_nights',
       'maximum_maximum_nights',
       'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 
       'availability_365', 
       'review_scores_rating',
       'review_scores_accuracy',
       'license',
       'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms']].copy()

In [6]:
df.describe()

,id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_365,review_scores_rating,review_scores_accuracy,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
count,1.318200e+04,1.318200e+04,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,11075.000000,11075.000000,13182.000000,13182.000000,13182.000000,13182.000000
mean,3.954590e+17,2.166796e+08,20.644895,32.083447,37.980172,23.731728,3.151267,571.466925,3.197390,4.595812,757.426567,781.464421,4.157988,767.141405,222.418146,4.737552,4.783382,12.034441,10.849416,1.031027,0.071082
std,4.270628e+17,1.732957e+08,61.423587,136.062916,0.013427,0.012480,16.231489,457.941252,18.416376,26.587753,449.324853,437.633288,24.276247,440.906213,136.667965,0.431216,0.394101,19.431829,18.978576,4.439618,0.850407
min,1.059500e+04,1.805000e+03,1.000000,1.000000,37.950322,23.697700,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,3.166800e+07,6.022029e+07,1.000000,2.000000,37.969140,23.723970,1.000000,90.000000,1.000000,1.000000,365.000000,365.000000,1.000000,365.000000,88.000000,4.680000,4.750000,1.000000,1.000000,0.000000,0.000000
50%,5.312285e+07,1.821563e+08,5.000000,6.000000,37.978573,23.729719,2.000000,365.000000,2.000000,2.000000,1125.000000,1125.000000,2.000000,1125.000000,268.000000,4.860000,4.890000,4.000000,3.000000,0.000000,0.000000
75%,8.516889e+17,3.696750e+08,20.000000,23.000000,37.988298,23.737657,2.000000,1125.000000,2.000000,3.000000,1125.000000,1125.000000,2.300000,1125.000000,348.000000,4.980000,5.000000,14.000000,12.000000,0.000000,0.000000
max,1.052831e+18,5.516695e+08,2444.000000,5529.000000,38.030830,23.780220,800.000000,4444.000000,800.000000,1000.000000,4444.000000,4444.000000,800.000000,4444.000000,365.000000,5.000000,5.000000,121.000000,121.000000,44.000000,15.000000

# Questions

### How many hosts have more than two listings?

We need only the cases where a host povides an entire home. Hotel rooms are not included in this part of the analysis as we consider them to not take part in the multi-owning aspect. (They will be used in the map in order to see how much of Athens is taken up by enterprise-styled places.)

"Rooms are great for guests who prefer a little privacy, yet still want to meet someone new and experience the area like a local. With a room, guests will have their own bedroom in a home, plus access to spaces that may be shared with others. For example, guests might walk through indoor spaces that another person may be sharing in order to get to their room.

What is required to be displayed as a Room to guests?
To be eligible to be displayed to guests as a room on Airbnb – for example, in search, in the Rooms category, on your listing page and otherwise – a listing should meet the following requirements:

The space listed is a bedroom, with a door, that is intended to be exclusively used by the guest during their stay
The guest shares access to at least one or more of the following common spaces: bathroom, kitchen, or living room"

In [7]:
# keeping only the entire homes
ent_room= df[df.room_type.str.contains('Entire',case=False)].copy().reset_index()
# βρίσκω πόσα entire homes έχει ο κάθε host 
listing = pd.DataFrame(ent_room.host_id.value_counts(ascending=False)).copy().reset_index()

In [8]:
# αλλάζω το όνομα της μεταβλητής 'many properties'

In [9]:
# categorizing how many properties each host has 
# based on the greek legislation, from 3 and up the categorization changes
for i,item in listing.iterrows():
    if item['count'] > 2:
        listing.at[i, 'many_properties'] = 'true' 
        
    else:
        listing.at[i, 'many_properties'] = 'false'

In [10]:
# what precentage of the hosts have than 2 properties?
listing['many_properties'].value_counts(normalize=True)*100

many_properties
false    85.806567
true     14.193433
Name: proportion, dtype: float64

Let's compare this precentage with what Airbnb says it is the total listings of the host. Airbnb does not make a differantiation of the places so it can be rooms, entire places etc.

In [11]:
airbnb = df[['host_id', 'host_listings_count']].copy()

In [12]:
for i,item in airbnb.iterrows():
    if item['host_listings_count'] >= 3:
       
        airbnb.at[i, 'many_properties'] = 'true'
    else:
        airbnb.at[i, 'many_properties'] = 'false'

In [13]:
airbnb['many_properties'].value_counts(normalize=True)*100

many_properties
true     63.321196
false    36.678804
Name: proportion, dtype: float64

The percentage is  four times higher but it is not very safe to use for the analysis. We can keep it in mind. <br>
What does it mean though? That there is a great possibility these people or enterprises own places in other cities that are not visible in the present dataset.

### Let's check in what areas we can see most of these listings.

In [14]:
len(listing)

5573

In [15]:
# πρέπει να εφαρμοστεί σε όλο το dataset και όχι μόνο σ
# keeping only the values that are true and using it to identify these hosts in the general dataset
listing[listing.many_properties.str.contains('true')].host_id

0       20104194
1      113548208
2       90390850
3      113353393
4      123074489
5         748818
6      182156346
7        1418201
8      144814182
9       47267002
10     112527018
11      77457889
12      92310506
13      29885761
14      31290848
15       2718115
16     103217576
17     333699103
18      13031654
19     240367992
20     153592692
21      47038350
22     220022946
23     488213362
24     189967864
25       3296820
26     268514902
27     155617522
28     240481675
29     114156592
30     428201678
31     330622463
32     110974559
33     402680060
34     491750136
35     294222259
36       1167063
37     113604662
38     231387850
39     221534605
40      24703234
41      32601523
42      65714690
43     462202429
44     152449611
45     259969589
46     512770001
47     454673943
48      53824000
49     211752896
50      74343759
51     180896799
52     194133744
53     438207115
54     497854703
55      84041447
56      23444614
57     129000409
58     482752817
59       4777984
60     149346682
61      67295649
62     184971311
63     210134221
64     428926944
65     251730165
66     394501992
67     158835185
68     177854704
69     278825381
70      47617379
71     323594998
72       1585338
73     184563460
74     481491332
75     194627760
76     187720552
77      29977689
78     449814055
79      42755842
80     520807652
81     219394325
82     248409239
83     541226109
84      25178462
85     407961547
86     389089363
87     259354468
88      55670751
89      32948108
90      63903716
91      89859710
92      16120512
93     389742996
94      15824213
95     529371207
96     437980351
97     245702882
98      70297345
99     407200868
100    439960564
101    508487019
102    466344270
103    346649977
104      1653525
105    236995845
106    240612421
107    437864658
108     46086131
109    204301874
110    190394609
111    386081852
112    508478402
113    526634615
114    470776316
115    348882124
116    193497982
117    237767294
118    296435475
119    171550263
120    188478211
121    107792331
122     29927830
123     53983867
124    265824487
125     18760819
126     39042147
127    470031509
128    259173979
129    248411151
130     62982756
131    488562112
132    361159759
133    528458172
134    316781611
135    411409438
136    135482103
137    512671449
138     77926998
139       133000
140    432021175
141     22227167
142    488942901
143     10581143
144    376392760
145    547918131
146      2089542
147     23245295
148    459862501
149    284419217
150    459342732
151     32371212
152    262980093
153     48448507
154     30031300
155    449402382
156    303576302
157     52238323
158    221302117
159    182786997
160    147148054
161    138097567
162    193643890
163     41042574
164      8793456
165    486426579
166    217699045
167    173384199
168    225869474
169     12851473
170     22873922
171    196158269
172    459224782
173    107569996
174    525418513
175     75139781
176    514043907
177    165767990
178     36328464
179     75211014
180    457420719
181    369675044
182    204065085
183     28574759
184    494227520
185    366893366
186     40723282
187    104883955
188     14184069
189       650923
190      2289590
191    498670508
192    260748138
193     19726147
194      2539665
195     17751979
196     14635878
197     61905606
198    217834779
199     11407277
200    444906990
201    445147850
202    485054054
203    485775494
204    460666467
205     63242081
206     21288829
207    440977358
208    123228792
209    123777873
210    262159144
211     56934632
212     98162465
213    251790045
214     67712347
215    412310224
216    266104590
217     57151032
218     18230583
219     22846943
220    485573401
221    222306652
222    122608191
223    466557917
224    242896327
225     48069663
226    477367519
227     13115279
228     94081573
229    118181401
230     12981170
231    220499305
232    511061357
233     39804023
234     24567914
235    441138011
236     97392374
237     12253727
238    472320717
239     72162168
240    191530509
241    107426146
242    180724995
243    506533171
244    184440550
245     81478500
246    148043518
247    249590410
248    500576069
249    178457686
250     31265707
251    412684947
252    452261668
253     21396488
254     75330319
255    353412189
256    513870004
257    388937788
258    457738527
259        37177
260    516617410
261    178065882
262    234414175
263     23439759
264    346342382
265    414267839
266     47815648
267     50985421
268     72877670
269    168852736
270    289947812
271    138391656
272    347273131
273    341786257
274    370986578
275    235894509
276    367282341
277    223646283
278    187667199
279    512294505
280    400787368
281     20609102
282     36153148
283    182138413
284    265163020
285    189692405
286    229526838
287    439199196
288    186303019
289    504776990
290      3622853
291     57477992
292    473320014
293     76705105
294    311687197
295     13656735
296     31476120
297    129860581
298    201007878
299     44180585
300    458880118
301     13380558
302    179905600
303    169521437
304    461193921
305    104237719
306     31779467
307    157753035
308    119894928
309     63047603
310    160067956
311    338001410
312    488084007
313     14536309
314    507729052
315      3635281
316     31228567
317    180629408
318     88286813
319    237434038
320    234274047
321      8171630
322      4486574
323    508234840
324    351336442
325    135471778
326    373002294
327    175796661
328    349458522
329    291268339
330     26363796
331    433901459
332    545765412
333    443585105
334     59309638
335    381309820
336    538201096
337    438737080
338     26789356
339     75990171
340     34203916
341    203462820
342     34643286
343    336027664
344    109619115
345     90044026
346    380896702
347    129204185
348     43894299
349    280345788
350     12627500
351      8666138
352     27682261
353    502700866
354     48462816
355     23739318
356    530397194
357     18045988
358     34438907
359      2491273
360     60779618
361    390361134
362     57273402
363     11929206
364     78415907
365    154187716
366    353193631
367    248886067
368     63254532
369    201738738
370    285221198
371    206859215
372    432122886
373    134912750
374    159166811
375    280997612
376    427836300
377    526849810
378    253050929
379    344915065
380    314989894
381    342304835
382    365946274
383    228538363
384     40209245
385    179644804
386    364636482
387    466768302
388    212645710
389    469837271
390       640163
391    198595015
392    132091538
393    217615215
394    247184655
395    439074505
396    258177050
397       410823
398    415592068
399    236683970
400     14192590
401    549422261
402      1829921
403     11218669
404    505549267
405     47897652
406    150729131
407    140875245
408    145467916
409    104363322
410    271563000
411    442608235
412     74601700
413     68253397
414    513244919
415     60982106
416     97730258
417    502097032
418    194062974
419     18544344
420      5328776
421     33478048
422     47243951
423    463179480
424    427805978
425     29795728
426      3421891
427     46223963
428    127947224
429    463995354
430    527810792
431    196542115
432    269559537
433     77381961
434     40090425
435    159865487
436     32602403
437    253784452
438    507429937
439    292600228
440    467748720
441     60220287
442     32785793
443    528830753
444    541650828
445    401055707
446    132558517
447    212511228
448    548386799
449    127976919
450     53136877
451    368104009
452    109352608
453    357976509
454    490563817
455     62401284
456    149858888
457    468136842
458    373372432
459    309145409
460      1850153
461    471884136
462    235054250
463    203723608
464    127794291
465     36706129
466     45346949
467     15408977
468     44705569
469       145718
470    382214747
471    275500744
472    512771202
473    247855072
474    395275647
475    514826474
476     64015974
477     12867392
478     12303025
479      6855082
480      4157520
481    335393826
482    289218292
483    200998112
484    257119117
485    357633390
486    548393977
487    206683625
488    510608352
489    109459906
490      7858163
491    190729621
492     23817233
493    177716555
494    251773886
495    484233741
496     16842834
497    103415248
498     25485075
499    499063328
500    525463569
501     13384428
502     28760727
503      8598734
504    224051079
505     86924588
506      6515798
507    112635016
508    300111827
509    435054741
510      6068569
511    528559156
512     35987342
513    120188820
514    549555819
515     99353246
516    472318606
517    313041858
518    240203476
519     85805414
520    264140510
521    461047967
522    334447391
523    454393211
524    261584299
525    241848146
526    421970068
527     72845584
528    518681197
529    453771737
530    262929243
531     48654793
532    191147450
533    171949031
534    503115053
535    180442365
536     18099659
537     11322414
538    436910382
539    488159235
540    110986294
541    546911072
542    538851171
543    495560389
544    378073889
545    102674308
546    505166034
547     54443805
548    131203748
549      5593322
550    499104766
551    504160914
552    462821012
553    194247479
554     11745220
555    145033038
556    480353312
557    479065363
558    461691167
559    111925754
560     16421550
561     84296491
562    163533843
563     40474716
564      6337611
565    184475405
566    266896820
567    538360498
568    432977699
569    475753936
570    496525099
571    186954472
572     51163812
573    538181926
574    131919291
575    398715086
576    480125787
577    344058648
578    455301396
579     31256039
580    138535193
581    546527090
582    195935153
583     21953270
584     22874640
585    218592946
586    120035471
587     18136626
588      3602045
589    530805165
590    194989916
591    173321524
592    245768124
593    202951870
594    476501747
595     13130145
596    501471944
597    139634995
598    240010333
599    398543355
600    102665020
601    424002907
602     78402346
603    158308605
604    192876512
605    227386908
606    430675933
607    484352075
608    347738713
609    269852576
610    337700262
611    331635241
612    524502131
613    529375189
614    486345238
615     50687542
616    339627958
617    454405798
618    249865277
619    309509693
620    115328500
621    209474790
622     54024405
623     20880921
624    199381246
625     65519171
626    122706053
627    187771775
628    460701415
629       260544
630    515634956
631    368564558
632    159827722
633    195429447
634     15316457
635    184553174
636    502165629
637    180164553
638     34982050
639    402552805
640    473924251
641      9858075
642    368413809
643     63618450
644    475625471
645      8986209
646    168071229
647    100059335
648      5222732
649    131755742
650     22072999
651     60306354
652     30762536
653     91843746
654    333129877
655    231804315
656     33200523
657    178023446
658     87110499
659    154790741
660      9428336
661    137470886
662     24513965
663     24940912
664     99899964
665    444578744
666    495289998
667    271120687
668     39563204
669    174592213
670     75696468
671    288769084
672    469801124
673    228237587
674      4820849
675    130646248
676    415810387
677    457079896
678    250656628
679    485697946
680    132200769
681      8342125
682      8706617
683    256648079
684    487191900
685    450346137
686    313724034
687    209699368
688     44340901
689       222309
690    450749279
691    432161823
692    409398031
693      1122973
694    511574165
695     67885548
696    473069623
697    107328172
698      2230511
699    198113856
700    216837242
701    179090125
702     51341357
703    514378930
704    434609411
705     43685473
706    248509376
707    515222064
708     15758167
709    142201131
710    454235152
711     53695550
712    490802166
713     16934794
714      6039587
715    228411489
716    523618669
717     12219175
718    545720942
719     90214587
720     74334773
721    520697895
722    417022844
723      3726244
724      1799530
725     22057402
726    148489740
727     96343098
728     31583327
729      2810938
730     34981181
731    160056754
732    243848388
733    378554931
734    525017326
735    490682362
736       556615
737    259209291
738    480162041
739    240335217
740    527818676
741    397638080
742     26773478
743    250089781
744     30888696
745     14538849
746    182438849
747    224160230
748    195591274
749     62810660
750    137946107
751    410078735
752    123231732
753    240965327
754    273796822
755    250657590
756      3689604
757     40581478
758    474672647
759    263914089
760    277908416
761     71538110
762    421966528
763     22651950
764     23140157
765    459234088
766    468848140
767    501024447
768    535100136
769    433253603
770    219885178
771       297078
772     43889048
773    201512943
774    290095123
775    412243887
776     95852123
777    220695037
778    311523831
779    215496598
780    318907929
781    508250839
782    215440107
783      5044938
784      3229826
785    251282363
786    373501020
787    199937958
788    128860061
789    236587402
790     18182930
Name: host_id, dtype: int64

In [16]:
true_codes=listing[listing.many_properties.str.contains('true')].host_id.to_list()

In [17]:
len(true_codes)

791

In [18]:
# making a dataset that keeps the rows with the true values and one with the false
result_multiple = []
result_single = []

for i, item in df.iterrows():
    if item['host_id'] in true_codes:
        multi = df.iloc[i]
        result_multiple.append(multi)
        
    else:
        non_multi = df.iloc[i]
        result_single.append(non_multi)
        
hosts_multiple=pd.DataFrame(result_multiple).copy().reset_index().drop(['index'],axis=1)
hosts_single=pd.DataFrame(result_single).copy().reset_index().drop(['index'],axis=1)

In [19]:
len(hosts_multiple)

6691

In [20]:
# in which neighbourhoods do we see more airbnb businesses
hm=hosts_multiple['neighbourhood_cleansed'].value_counts()
hm=pd.DataFrame(hm).reset_index()

In [21]:
len(hosts_single)

6491

In [22]:
# same for all the "under 2"
hs=hosts_single['neighbourhood_cleansed'].value_counts()
hs=pd.DataFrame(hs).reset_index()

### Visualization of distribution?

In [23]:
for_viz=hosts_multiple[['host_name','calculated_host_listings_count_entire_homes','neighbourhood_cleansed','latitude','longitude']].copy()

In [24]:
for_viz.to_csv("ath_neighbourhoods_points.csv")

In [25]:
hm.to_csv("ath_neighbourhoods_value.csv")

In [26]:
# hs.merge(hm,on="neighbourhood_cleansed",how="outer").copy()

#### Question: <br>Does this mean that more houses in central Athens are owned by business like hosts than owned by non-business hosts?
Even though we see a smaller number of hosts having businesses, they do own more houses than the non businesses do. Of course that makes sense, because the do own more houses by definition. Does that mean a few people own most of the houses in Athens... Is that a strech of a conclusion?

### These are the areas with the precentage of listings

In [27]:
hosts_multiple['neighbourhood_cleansed'].value_counts(normalize=True)*100

neighbourhood_cleansed
ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ              23.748319
ΚΟΥΚΑΚΙ-ΜΑΚΡΥΓΙΑΝΝΗ                  9.804215
ΝΕΟΣ ΚΟΣΜΟΣ                          7.487670
ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ             7.263488
ΑΓΙΟΣ ΚΩΝΣΤΑΝΤΙΝΟΣ-ΠΛΑΤΕΙΑ ΒΑΘΗΣ     6.321925
ΠΛΑΤΕΙΑ ΑΤΤΙΚΗΣ                      4.289344
ΠΑΓΚΡΑΤΙ                             3.826035
ΑΜΠΕΛΟΚΗΠΟΙ                          3.018981
ΑΚΡΟΠΟΛΗ                             2.944253
ΚΕΡΑΜΕΙΚΟΣ                           2.929308
ΚΟΛΩΝΑΚΙ                             2.914363
ΘΗΣΕΙΟ                               2.899417
ΠΕΤΡΑΛΩΝΑ                            2.660290
ΖΑΠΠΕΙΟ                              1.987745
ΣΤΑΔΙΟ                               1.763563
ΚΥΨΕΛΗ                               1.673890
ΓΟΥΔΙ                                1.643999
ΙΛΙΣΙΑ                               1.524436
ΝΙΡΒΑΝΑ                              1.255418
ΛΥΚΑΒΗΤΤΟΣ                           1.016291
ΠΑΤΗΣΙΑ                              0.986400
ΓΚΑΖΙ                                0.941563
ΠΛΑΤΕΙΑ ΑΜΕΡΙΚΗΣ                     0.866836
ΠΕΔΙΟ ΑΡΕΩΣ                          0.747272
ΑΝΩ ΚΥΨΕΛΗ                           0.612763
ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ                       0.523091
ΓΟΥΒΑ                                0.463309
ΚΟΛΩΝΟΣ                              0.448363
ΓΚΥΖΗ                                0.448363
ΣΤΑΘΜΟΣ ΛΑΡΙΣΗΣ                      0.433418
ΑΚΑΔΗΜΙΑ ΠΛΑΤΩΝΟΣ                    0.403527
ΕΛΛΗΝΟΡΩΣΩΝ                          0.403527
1Ο ΝΕΚΡΟΤΑΦΕΙΟ                       0.373636
ΒΟΤΑΝΙΚΟΣ                            0.373636
ΝΕΑ ΚΥΨΕΛΗ                           0.254073
ΣΕΠΟΛΙΑ                              0.224182
ΑΓΙΟΣ ΕΛΕΥΘΕΡΙΟΣ                     0.194291
ΑΝΩ ΠΑΤΗΣΙΑ                          0.179345
ΚΟΛΟΚΥΝΘΟΥ                           0.074727
ΠΡΟΜΠΟΝΑ                             0.029891
ΠΟΛΥΓΩΝΟ                             0.029891
ΡΙΖΟΥΠΟΛΗ                            0.014945
Name: proportion, dtype: float64

### Let's see the average price per night per area

In [28]:
# prices must be cleaned and integered
hosts_multiple['price_clean'] = hosts_multiple['price'].str.replace('$', '').str.replace(',', '').astype(float)

In [32]:
hosts_multiple['price_clean'][900]

98.0

In [51]:
# groupby περιοχή και sum τις τιμές
hosts_multiple.groupby('neighbourhood_cleansed')["price_clean"].sum().sort_values(ascending=False)

neighbourhood_cleansed
ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ              201415.0
ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ            121633.0
ΚΟΥΚΑΚΙ-ΜΑΚΡΥΓΙΑΝΝΗ                  78021.0
ΑΚΡΟΠΟΛΗ                             52759.0
ΝΕΟΣ ΚΟΣΜΟΣ                          44063.0
ΖΑΠΠΕΙΟ                              32221.0
ΠΛΑΤΕΙΑ ΑΤΤΙΚΗΣ                      27458.0
ΚΟΛΩΝΑΚΙ                             25350.0
ΑΓΙΟΣ ΚΩΝΣΤΑΝΤΙΝΟΣ-ΠΛΑΤΕΙΑ ΒΑΘΗΣ     24525.0
ΠΑΓΚΡΑΤΙ                             23624.0
ΚΕΡΑΜΕΙΚΟΣ                           22363.0
ΘΗΣΕΙΟ                               22359.0
ΑΜΠΕΛΟΚΗΠΟΙ                          14567.0
ΠΕΤΡΑΛΩΝΑ                            13812.0
ΣΤΑΔΙΟ                               10646.0
ΙΛΙΣΙΑ                                9742.0
ΚΥΨΕΛΗ                                8466.0
ΓΟΥΔΙ                                 7106.0
ΛΥΚΑΒΗΤΤΟΣ                            5868.0
ΓΚΑΖΙ                                 5107.0
ΝΙΡΒΑΝΑ                               3964.0
ΠΕΔΙΟ ΑΡΕΩΣ                           3692.0
ΠΛΑΤΕΙΑ ΑΜΕΡΙΚΗΣ                      3556.0
ΠΑΤΗΣΙΑ                               3460.0
1Ο ΝΕΚΡΟΤΑΦΕΙΟ                        2949.0
ΕΛΛΗΝΟΡΩΣΩΝ                           2615.0
ΒΟΤΑΝΙΚΟΣ                             2189.0
ΓΟΥΒΑ                                 1966.0
ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ                        1920.0
ΑΝΩ ΚΥΨΕΛΗ                            1903.0
ΣΤΑΘΜΟΣ ΛΑΡΙΣΗΣ                       1756.0
ΚΟΛΩΝΟΣ                               1707.0
ΓΚΥΖΗ                                 1314.0
ΣΕΠΟΛΙΑ                               1292.0
ΑΚΑΔΗΜΙΑ ΠΛΑΤΩΝΟΣ                     1203.0
ΝΕΑ ΚΥΨΕΛΗ                             920.0
ΑΓΙΟΣ ΕΛΕΥΘΕΡΙΟΣ                       798.0
ΑΝΩ ΠΑΤΗΣΙΑ                            664.0
ΠΟΛΥΓΩΝΟ                               268.0
ΚΟΛΟΚΥΝΘΟΥ                             177.0
ΠΡΟΜΠΟΝΑ                               123.0
ΡΙΖΟΥΠΟΛΗ                              100.0
Name: price_clean, dtype: float64

In [52]:
hosts_multiple.price_clean.mean()

119.98799574532745

In [53]:
hosts_multiple.price_clean.median()

72.0

In [54]:
# what is the average price per night for each area (multiple listings)?
per_area_per_night=hosts_multiple.groupby('neighbourhood_cleansed', as_index=False)['price_clean'].mean().round().sort_values(by='price_clean',ascending=False)
per_area_per_night

              neighbourhood_cleansed  price_clean
5                           ΑΚΡΟΠΟΛΗ        271.0
26          ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ        254.0
16                           ΖΑΠΠΕΙΟ        244.0
36                          ΠΟΛΥΓΩΝΟ        134.0
21                          ΚΟΛΩΝΑΚΙ        132.0
15            ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ        128.0
0                     1Ο ΝΕΚΡΟΤΑΦΕΙΟ        123.0
23               ΚΟΥΚΑΚΙ-ΜΑΚΡΥΓΙΑΝΝΗ        121.0
17                            ΘΗΣΕΙΟ        116.0
19                        ΚΕΡΑΜΕΙΚΟΣ        115.0
35                   ΠΛΑΤΕΙΑ ΑΤΤΙΚΗΣ        101.0
38                         ΡΙΖΟΥΠΟΛΗ        100.0
14                       ΕΛΛΗΝΟΡΩΣΩΝ         97.0
18                            ΙΛΙΣΙΑ         97.0
30                          ΠΑΓΚΡΑΤΙ         94.0
40                            ΣΤΑΔΙΟ         93.0
32                       ΠΕΔΙΟ ΑΡΕΩΣ         92.0
28                       ΝΕΟΣ ΚΟΣΜΟΣ         89.0
9                          ΒΟΤΑΝΙΚΟΣ         88.0
25                        ΛΥΚΑΒΗΤΤΟΣ         88.0
39                           ΣΕΠΟΛΙΑ         86.0
10                             ΓΚΑΖΙ         82.0
33                         ΠΕΤΡΑΛΩΝΑ         78.0
24                            ΚΥΨΕΛΗ         77.0
6                        ΑΜΠΕΛΟΚΗΠΟΙ         73.0
1                   ΑΓΙΟΣ ΕΛΕΥΘΕΡΙΟΣ         66.0
13                             ΓΟΥΔΙ         65.0
41                   ΣΤΑΘΜΟΣ ΛΑΡΙΣΗΣ         63.0
12                             ΓΟΥΒΑ         63.0
37                          ΠΡΟΜΠΟΝΑ         62.0
34                  ΠΛΑΤΕΙΑ ΑΜΕΡΙΚΗΣ         61.0
22                           ΚΟΛΩΝΟΣ         59.0
2   ΑΓΙΟΣ ΚΩΝΣΤΑΝΤΙΝΟΣ-ΠΛΑΤΕΙΑ ΒΑΘΗΣ         59.0
3                     ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ         55.0
8                        ΑΝΩ ΠΑΤΗΣΙΑ         55.0
27                        ΝΕΑ ΚΥΨΕΛΗ         54.0
31                           ΠΑΤΗΣΙΑ         52.0
29                           ΝΙΡΒΑΝΑ         51.0
7                         ΑΝΩ ΚΥΨΕΛΗ         46.0
4                  ΑΚΑΔΗΜΙΑ ΠΛΑΤΩΝΟΣ         45.0
20                        ΚΟΛΟΚΥΝΘΟΥ         44.0
11                             ΓΚΥΖΗ         44.0

### Same process for the ones with less than 3 listings to check the difference in pricing

In [55]:
hosts_single['price_clean'] = hosts_single['price'].str.replace('$', '').str.replace(',', '').astype(float)

In [56]:
hosts_single.price_clean.mean()

90.17658380112269

In [57]:
hosts_single.price_clean.median()

60.0

In [58]:
# what is the average price per night for each area (single listing)?
per_area_per_night_single=hosts_single.groupby('neighbourhood_cleansed', as_index=False)['price_clean'].mean().round().sort_values(by='price_clean',ascending=False)
per_area_per_night_single

              neighbourhood_cleansed  price_clean
39                          ΡΗΓΙΛΛΗΣ        654.0
9                          ΒΟΤΑΝΙΚΟΣ        169.0
42                            ΣΤΑΔΙΟ        141.0
15            ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ        139.0
19                        ΚΕΡΑΜΕΙΚΟΣ        118.0
21                          ΚΟΛΩΝΑΚΙ        117.0
5                           ΑΚΡΟΠΟΛΗ        109.0
25                        ΛΥΚΑΒΗΤΤΟΣ        109.0
23               ΚΟΥΚΑΚΙ-ΜΑΚΡΥΓΙΑΝΝΗ        101.0
17                            ΘΗΣΕΙΟ        101.0
16                           ΖΑΠΠΕΙΟ         93.0
26          ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ         90.0
34                         ΠΕΤΡΑΛΩΝΑ         84.0
41                           ΣΕΠΟΛΙΑ         84.0
36                   ΠΛΑΤΕΙΑ ΑΤΤΙΚΗΣ         83.0
13                             ΓΟΥΔΙ         77.0
28                       ΝΕΟΣ ΚΟΣΜΟΣ         76.0
30                          ΠΑΓΚΡΑΤΙ         75.0
18                            ΙΛΙΣΙΑ         73.0
10                             ΓΚΑΖΙ         71.0
2   ΑΓΙΟΣ ΚΩΝΣΤΑΝΤΙΝΟΣ-ΠΛΑΤΕΙΑ ΒΑΘΗΣ         70.0
31                           ΠΑΤΗΣΙΑ         65.0
12                             ΓΟΥΒΑ         65.0
37                          ΠΟΛΥΓΩΝΟ         64.0
6                        ΑΜΠΕΛΟΚΗΠΟΙ         62.0
38                          ΠΡΟΜΠΟΝΑ         61.0
27                        ΝΕΑ ΚΥΨΕΛΗ         61.0
24                            ΚΥΨΕΛΗ         58.0
14                       ΕΛΛΗΝΟΡΩΣΩΝ         58.0
11                             ΓΚΥΖΗ         57.0
8                        ΑΝΩ ΠΑΤΗΣΙΑ         56.0
43                   ΣΤΑΘΜΟΣ ΛΑΡΙΣΗΣ         56.0
0                     1Ο ΝΕΚΡΟΤΑΦΕΙΟ         55.0
4                  ΑΚΑΔΗΜΙΑ ΠΛΑΤΩΝΟΣ         55.0
32                       ΠΕΔΙΟ ΑΡΕΩΣ         54.0
3                     ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ         53.0
22                           ΚΟΛΩΝΟΣ         52.0
35                  ΠΛΑΤΕΙΑ ΑΜΕΡΙΚΗΣ         49.0
40                         ΡΙΖΟΥΠΟΛΗ         48.0
7                         ΑΝΩ ΚΥΨΕΛΗ         46.0
29                           ΝΙΡΒΑΝΑ         45.0
33                         ΠΕΝΤΑΓΩΝΟ         44.0
1                   ΑΓΙΟΣ ΕΛΕΥΘΕΡΙΟΣ         42.0
20                        ΚΟΛΟΚΥΝΘΟΥ         39.0

### Not sure if that is correct

In [59]:
# i want to find which prices are greater than the total median of all areas
for i,item in per_area_per_night.iterrows():
    if item['price_clean']>=72:
           per_area_per_night.at[i, 'greater_than_the_average'] = 'yes'
    else:
        per_area_per_night.at[i, 'greater_than_the_average'] = 'no'

In [60]:
per_area_per_night["greater_than_the_average"].value_counts(normalize=True)*100

greater_than_the_average
yes    59.52381
no     40.47619
Name: proportion, dtype: float64