In [1]:
import pandas as pd
import re
#set ups
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)
# importing package 
import matplotlib.pyplot as plt 
import numpy as np 
import requests

#setups
%matplotlib inline

In [2]:
df=pd.read_csv("listings_full.csv")

## Variables used !!!!!

ent_room : df containing only the listings that have entire rooms <br>
listing : df containing only the number of listings that have entire rooms <br>
true_codes : a list that onlu has the codes of the <br>
airbnb :<br>
hosts_multiple :<br>
per_area_per_night :<br>

## Doing all the checks needed

No much cleaning is needed so we are going to do initial chscks before we strat the analysis

In [3]:
df.shape

(13182, 75)

In [4]:
df.dtypes

id                                                int64
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
source                                           object
name                                             object
description                                     float64
neighborhood_overview                            object
picture_url                                      object
host_id                                           int64
host_url                                         object
host_name                                        object
host_since                                       object
host_location                                    object
host_about                                       object
host_response_time                               object
host_response_rate                               object
host_acceptance_rate                             object
host_is_superhost                                object
host_thumbnail_url                               object
host_picture_url                                 object
host_neighbourhood                               object
host_listings_count                               int64
host_total_listings_count                         int64
host_verifications                               object
host_has_profile_pic                             object
host_identity_verified                           object
neighbourhood                                    object
neighbourhood_cleansed                           object
neighbourhood_group_cleansed                    float64
latitude                                        float64
longitude                                       float64
property_type                                    object
room_type                                        object
accommodates                                      int64
bathrooms                                       float64
bathrooms_text                                   object
bedrooms                                        float64
beds                                            float64
amenities                                        object
price                                            object
minimum_nights                                    int64
maximum_nights                                    int64
minimum_minimum_nights                            int64
maximum_minimum_nights                            int64
minimum_maximum_nights                            int64
maximum_maximum_nights                            int64
minimum_nights_avg_ntm                          float64
maximum_nights_avg_ntm                          float64
calendar_updated                                float64
has_availability                                 object
availability_30                                   int64
availability_60                                   int64
availability_90                                   int64
availability_365                                  int64
calendar_last_scraped                            object
number_of_reviews                                 int64
number_of_reviews_ltm                             int64
number_of_reviews_l30d                            int64
first_review                                     object
last_review                                      object
review_scores_rating                            float64
review_scores_accuracy                          float64
review_scores_cleanliness                       float64
review_scores_checkin                           float64
review_scores_communication                     float64
review_scores_location                          float64
review_scores_value                             float64
license                                          object
instant_bookable                                 object
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
dtype: object

In [5]:
# keeping the columns i am interested in
df=df[['id',
       'name', 
       'host_id',
       'host_name', 
       'host_since',
       'host_location', 
       'host_is_superhost',
       'host_neighbourhood', 
       'host_listings_count',
       'host_total_listings_count',
       'neighbourhood',
       'neighbourhood_cleansed',
       'latitude', 'longitude',
       'property_type',
       'room_type', 
       'price',
       'minimum_nights', 
       'maximum_nights',
       'minimum_minimum_nights',
       'maximum_minimum_nights',
       'minimum_maximum_nights',
       'maximum_maximum_nights',
       'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 
       'availability_365', 
       'review_scores_rating',
       'review_scores_accuracy',
       'license',
       'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms']].copy()

In [6]:
df.describe()

,id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_365,review_scores_rating,review_scores_accuracy,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
count,1.318200e+04,1.318200e+04,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,13182.000000,11075.000000,11075.000000,13182.000000,13182.000000,13182.000000,13182.000000
mean,3.954590e+17,2.166796e+08,20.644895,32.083447,37.980172,23.731728,3.151267,571.466925,3.197390,4.595812,757.426567,781.464421,4.157988,767.141405,222.418146,4.737552,4.783382,12.034441,10.849416,1.031027,0.071082
std,4.270628e+17,1.732957e+08,61.423587,136.062916,0.013427,0.012480,16.231489,457.941252,18.416376,26.587753,449.324853,437.633288,24.276247,440.906213,136.667965,0.431216,0.394101,19.431829,18.978576,4.439618,0.850407
min,1.059500e+04,1.805000e+03,1.000000,1.000000,37.950322,23.697700,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,3.166800e+07,6.022029e+07,1.000000,2.000000,37.969140,23.723970,1.000000,90.000000,1.000000,1.000000,365.000000,365.000000,1.000000,365.000000,88.000000,4.680000,4.750000,1.000000,1.000000,0.000000,0.000000
50%,5.312285e+07,1.821563e+08,5.000000,6.000000,37.978573,23.729719,2.000000,365.000000,2.000000,2.000000,1125.000000,1125.000000,2.000000,1125.000000,268.000000,4.860000,4.890000,4.000000,3.000000,0.000000,0.000000
75%,8.516889e+17,3.696750e+08,20.000000,23.000000,37.988298,23.737657,2.000000,1125.000000,2.000000,3.000000,1125.000000,1125.000000,2.300000,1125.000000,348.000000,4.980000,5.000000,14.000000,12.000000,0.000000,0.000000
max,1.052831e+18,5.516695e+08,2444.000000,5529.000000,38.030830,23.780220,800.000000,4444.000000,800.000000,1000.000000,4444.000000,4444.000000,800.000000,4444.000000,365.000000,5.000000,5.000000,121.000000,121.000000,44.000000,15.000000

# Questions

### How many hosts have more than two listings?

We need only the cases where a host povides an entire home. Hotel rooms are not included in this part of the analysis as we consider them to not take part in the multi-owning aspect. (They will be used in the map in order to see how much of Athens is taken up by enterprise-styled places.)

"Rooms are great for guests who prefer a little privacy, yet still want to meet someone new and experience the area like a local. With a room, guests will have their own bedroom in a home, plus access to spaces that may be shared with others. For example, guests might walk through indoor spaces that another person may be sharing in order to get to their room.

What is required to be displayed as a Room to guests?
To be eligible to be displayed to guests as a room on Airbnb – for example, in search, in the Rooms category, on your listing page and otherwise – a listing should meet the following requirements:

The space listed is a bedroom, with a door, that is intended to be exclusively used by the guest during their stay
The guest shares access to at least one or more of the following common spaces: bathroom, kitchen, or living room"

In [7]:
# keeping only the entire homes
ent_house=df[df.room_type.str.contains('Entire',case=False)].copy().reset_index()
# βρίσκω πόσα entire homes έχει ο κάθε host 
listing = pd.DataFrame(ent_house.host_id.value_counts(ascending=False)).copy().reset_index()

In [8]:
# αλλάζω το όνομα της μεταβλητής 'many properties'

In [9]:
# categorizing how many properties each host has 
# based on the greek legislation, from 3 and up, the categorization changes
listing['many_properties']= listing['count'].apply(lambda x: 1 if x>2 else 0)

In [10]:
# what precentage of the hosts have more than 2 properties?
listing['many_properties'].value_counts(normalize=True)*100

many_properties
0    85.806567
1    14.193433
Name: proportion, dtype: float64

Let's compare this precentage with what Airbnb says it is the total listings of the host. Airbnb does not make a differantiation of the places so it can be rooms, entire places etc.

In [11]:
airbnb = df[['host_id', 'host_listings_count']].copy()

In [12]:
airbnb['many_properties']= airbnb['host_listings_count'].apply(lambda x: 1 if x>2 else 0)

In [13]:
airbnb['many_properties'].value_counts(normalize=True)*100

many_properties
1    63.321196
0    36.678804
Name: proportion, dtype: float64

The percentage is  four times higher but it is not very safe to use for the analysis. We can keep it in mind. <br>
What does it mean though? That there is a great possibility these people or enterprises own places in other cities that are not visible in the present dataset.

### Let's check in what areas we can see most of these listings.

In [14]:
len(listing)

5573

In [15]:
# keeping only the values that are true and using it to identify these hosts in the general dataset
list_business_hosts = listing[listing['many_properties']>0].host_id.tolist()
list_business_hosts

[20104194,
 113548208,
 90390850,
 113353393,
 123074489,
 748818,
 182156346,
 1418201,
 144814182,
 47267002,
 112527018,
 77457889,
 92310506,
 29885761,
 31290848,
 2718115,
 103217576,
 333699103,
 13031654,
 240367992,
 153592692,
 47038350,
 220022946,
 488213362,
 189967864,
 3296820,
 268514902,
 155617522,
 240481675,
 114156592,
 428201678,
 330622463,
 110974559,
 402680060,
 491750136,
 294222259,
 1167063,
 113604662,
 231387850,
 221534605,
 24703234,
 32601523,
 65714690,
 462202429,
 152449611,
 259969589,
 512770001,
 454673943,
 53824000,
 211752896,
 74343759,
 180896799,
 194133744,
 438207115,
 497854703,
 84041447,
 23444614,
 129000409,
 482752817,
 4777984,
 149346682,
 67295649,
 184971311,
 210134221,
 428926944,
 251730165,
 394501992,
 158835185,
 177854704,
 278825381,
 47617379,
 323594998,
 1585338,
 184563460,
 481491332,
 194627760,
 187720552,
 29977689,
 449814055,
 42755842,
 520807652,
 219394325,
 248409239,
 541226109,
 25178462,
 407961547,
 389089363,
 259354468,
 55670751,
 32948108,
 63903716,
 89859710,
 16120512,
 389742996,
 15824213,
 529371207,
 437980351,
 245702882,
 70297345,
 407200868,
 439960564,
 508487019,
 466344270,
 346649977,
 1653525,
 236995845,
 240612421,
 437864658,
 46086131,
 204301874,
 190394609,
 386081852,
 508478402,
 526634615,
 470776316,
 348882124,
 193497982,
 237767294,
 296435475,
 171550263,
 188478211,
 107792331,
 29927830,
 53983867,
 265824487,
 18760819,
 39042147,
 470031509,
 259173979,
 248411151,
 62982756,
 488562112,
 361159759,
 528458172,
 316781611,
 411409438,
 135482103,
 512671449,
 77926998,
 133000,
 432021175,
 22227167,
 488942901,
 10581143,
 376392760,
 547918131,
 2089542,
 23245295,
 459862501,
 284419217,
 459342732,
 32371212,
 262980093,
 48448507,
 30031300,
 449402382,
 303576302,
 52238323,
 221302117,
 182786997,
 147148054,
 138097567,
 193643890,
 41042574,
 8793456,
 486426579,
 217699045,
 173384199,
 225869474,
 12851473,
 22873922,
 196158269,
 459224782,
 107569996,
 525418513,
 75139781,
 514043907,
 165767990,
 36328464,
 75211014,
 457420719,
 369675044,
 204065085,
 28574759,
 494227520,
 366893366,
 40723282,
 104883955,
 14184069,
 650923,
 2289590,
 498670508,
 260748138,
 19726147,
 2539665,
 17751979,
 14635878,
 61905606,
 217834779,
 11407277,
 444906990,
 445147850,
 485054054,
 485775494,
 460666467,
 63242081,
 21288829,
 440977358,
 123228792,
 123777873,
 262159144,
 56934632,
 98162465,
 251790045,
 67712347,
 412310224,
 266104590,
 57151032,
 18230583,
 22846943,
 485573401,
 222306652,
 122608191,
 466557917,
 242896327,
 48069663,
 477367519,
 13115279,
 94081573,
 118181401,
 12981170,
 220499305,
 511061357,
 39804023,
 24567914,
 441138011,
 97392374,
 12253727,
 472320717,
 72162168,
 191530509,
 107426146,
 180724995,
 506533171,
 184440550,
 81478500,
 148043518,
 249590410,
 500576069,
 178457686,
 31265707,
 412684947,
 452261668,
 21396488,
 75330319,
 353412189,
 513870004,
 388937788,
 457738527,
 37177,
 516617410,
 178065882,
 234414175,
 23439759,
 346342382,
 414267839,
 47815648,
 50985421,
 72877670,
 168852736,
 289947812,
 138391656,
 347273131,
 341786257,
 370986578,
 235894509,
 367282341,
 223646283,
 187667199,
 512294505,
 400787368,
 20609102,
 36153148,
 182138413,
 265163020,
 189692405,
 229526838,
 439199196,
 186303019,
 504776990,
 3622853,
 57477992,
 473320014,
 76705105,
 311687197,
 13656735,
 31476120,
 129860581,
 201007878,
 44180585,
 458880118,
 13380558,
 179905600,
 169521437,
 461193921,
 104237719,
 31779467,
 157753035,
 119894928,
 63047603,
 160067956,
 338001410,
 488084007,
 14536309,
 507729052,
 3635281,
 31228567,
 180629408,
 88286813,
 237434038,
 234274047,
 8171630,
 4486574,
 508234840,
 351336442,
 135471778,
 373002294,
 175796661,
 349458522,
 291268339,
 26363796,
 433901459,
 545765412,
 443585105,
 59309638,
 381309820,
 538201096,
 438737080,
 26789356,
 75990171,
 34203916,
 203462820,
 34643286,
 336027664,
 109619115,
 90044026,
 380896702,
 129204185,
 43894299,
 280345788,
 12627500,
 8666138,
 27682261,
 502700866,
 48462816,
 23739318,
 530397194,
 18045988,
 34438907,
 2491273,
 60779618,
 390361134,
 57273402,
 11929206,
 78415907,
 154187716,
 353193631,
 248886067,
 63254532,
 201738738,
 285221198,
 206859215,
 432122886,
 134912750,
 159166811,
 280997612,
 427836300,
 526849810,
 253050929,
 344915065,
 314989894,
 342304835,
 365946274,
 228538363,
 40209245,
 179644804,
 364636482,
 466768302,
 212645710,
 469837271,
 640163,
 198595015,
 132091538,
 217615215,
 247184655,
 439074505,
 258177050,
 410823,
 415592068,
 236683970,
 14192590,
 549422261,
 1829921,
 11218669,
 505549267,
 47897652,
 150729131,
 140875245,
 145467916,
 104363322,
 271563000,
 442608235,
 74601700,
 68253397,
 513244919,
 60982106,
 97730258,
 502097032,
 194062974,
 18544344,
 5328776,
 33478048,
 47243951,
 463179480,
 427805978,
 29795728,
 3421891,
 46223963,
 127947224,
 463995354,
 527810792,
 196542115,
 269559537,
 77381961,
 40090425,
 159865487,
 32602403,
 253784452,
 507429937,
 292600228,
 467748720,
 60220287,
 32785793,
 528830753,
 541650828,
 401055707,
 132558517,
 212511228,
 548386799,
 127976919,
 53136877,
 368104009,
 109352608,
 357976509,
 490563817,
 62401284,
 149858888,
 468136842,
 373372432,
 309145409,
 1850153,
 471884136,
 235054250,
 203723608,
 127794291,
 36706129,
 45346949,
 15408977,
 44705569,
 145718,
 382214747,
 275500744,
 512771202,
 247855072,
 395275647,
 514826474,
 64015974,
 12867392,
 12303025,
 6855082,
 4157520,
 335393826,
 289218292,
 200998112,
 257119117,
 357633390,
 548393977,
 206683625,
 510608352,
 109459906,
 7858163,
 190729621,
 23817233,
 177716555,
 251773886,
 484233741,
 16842834,
 103415248,
 25485075,
 499063328,
 525463569,
 13384428,
 28760727,
 8598734,
 224051079,
 86924588,
 6515798,
 112635016,
 300111827,
 435054741,
 6068569,
 528559156,
 35987342,
 120188820,
 549555819,
 99353246,
 472318606,
 313041858,
 240203476,
 85805414,
 264140510,
 461047967,
 334447391,
 454393211,
 261584299,
 241848146,
 421970068,
 72845584,
 518681197,
 453771737,
 262929243,
 48654793,
 191147450,
 171949031,
 503115053,
 180442365,
 18099659,
 11322414,
 436910382,
 488159235,
 110986294,
 546911072,
 538851171,
 495560389,
 378073889,
 102674308,
 505166034,
 54443805,
 131203748,
 5593322,
 499104766,
 504160914,
 462821012,
 194247479,
 11745220,
 145033038,
 480353312,
 479065363,
 461691167,
 111925754,
 16421550,
 84296491,
 163533843,
 40474716,
 6337611,
 184475405,
 266896820,
 538360498,
 432977699,
 475753936,
 496525099,
 186954472,
 51163812,
 538181926,
 131919291,
 398715086,
 480125787,
 344058648,
 455301396,
 31256039,
 138535193,
 546527090,
 195935153,
 21953270,
 22874640,
 218592946,
 120035471,
 18136626,
 3602045,
 530805165,
 194989916,
 173321524,
 245768124,
 202951870,
 476501747,
 13130145,
 501471944,
 139634995,
 240010333,
 398543355,
 102665020,
 424002907,
 78402346,
 158308605,
 192876512,
 227386908,
 430675933,
 484352075,
 347738713,
 269852576,
 337700262,
 331635241,
 524502131,
 529375189,
 486345238,
 50687542,
 339627958,
 454405798,
 249865277,
 309509693,
 115328500,
 209474790,
 54024405,
 20880921,
 199381246,
 65519171,
 122706053,
 187771775,
 460701415,
 260544,
 515634956,
 368564558,
 159827722,
 195429447,
 15316457,
 184553174,
 502165629,
 180164553,
 34982050,
 402552805,
 473924251,
 9858075,
 368413809,
 63618450,
 475625471,
 8986209,
 168071229,
 100059335,
 5222732,
 131755742,
 22072999,
 60306354,
 30762536,
 91843746,
 333129877,
 231804315,
 33200523,
 178023446,
 87110499,
 154790741,
 9428336,
 137470886,
 24513965,
 24940912,
 99899964,
 444578744,
 495289998,
 271120687,
 39563204,
 174592213,
 75696468,
 288769084,
 469801124,
 228237587,
 4820849,
 130646248,
 415810387,
 457079896,
 250656628,
 485697946,
 132200769,
 8342125,
 8706617,
 256648079,
 487191900,
 450346137,
 313724034,
 209699368,
 44340901,
 222309,
 450749279,
 432161823,
 409398031,
 1122973,
 511574165,
 67885548,
 473069623,
 107328172,
 2230511,
 198113856,
 216837242,
 179090125,
 51341357,
 514378930,
 434609411,
 43685473,
 248509376,
 515222064,
 15758167,
 142201131,
 454235152,
 53695550,
 490802166,
 16934794,
 6039587,
 228411489,
 523618669,
 12219175,
 545720942,
 90214587,
 74334773,
 520697895,
 417022844,
 3726244,
 1799530,
 22057402,
 148489740,
 96343098,
 31583327,
 2810938,
 34981181,
 160056754,
 243848388,
 378554931,
 525017326,
 490682362,
 556615,
 259209291,
 480162041,
 240335217,
 527818676,
 397638080,
 26773478,
 250089781,
 30888696,
 14538849,
 182438849,
 224160230,
 195591274,
 62810660,
 137946107,
 410078735,
 123231732,
 240965327,
 273796822,
 250657590,
 3689604,
 40581478,
 474672647,
 263914089,
 277908416,
 71538110,
 421966528,
 22651950,
 23140157,
 459234088,
 468848140,
 501024447,
 535100136,
 433253603,
 219885178,
 297078,
 43889048,
 201512943,
 290095123,
 412243887,
 95852123,
 220695037,
 311523831,
 215496598,
 318907929,
 508250839,
 215440107,
 5044938,
 3229826,
 251282363,
 373501020,
 199937958,
 128860061,
 236587402,
 18182930]

In [16]:
# περνάς τη νέα μεταβλητή στο df σου
ent_house['many_properties'] = ent_house['host_id'].apply(lambda x: 1 if x in list_business_hosts else 0)

#### Question: <br>Does this mean that more houses in central Athens are owned by business like hosts than owned by non-business hosts?
Even though we see a smaller number of hosts having businesses, they do own more houses than the non businesses do. Of course that makes sense, because the do own more houses by definition. Does that mean a few people own most of the houses in Athens... Is that a strech of a conclusion?

### These are the areas with the precentage of listings

In [17]:
ent_house['neighbourhood_cleansed'].value_counts(normalize=True)*100

neighbourhood_cleansed
ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ              17.772552
ΚΟΥΚΑΚΙ-ΜΑΚΡΥΓΙΑΝΝΗ                  8.945070
ΝΕΟΣ ΚΟΣΜΟΣ                          7.878381
ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ             7.492021
ΑΓΙΟΣ ΚΩΝΣΤΑΝΤΙΝΟΣ-ΠΛΑΤΕΙΑ ΒΑΘΗΣ     5.954981
ΠΛΑΤΕΙΑ ΑΤΤΙΚΗΣ                      4.342348
ΠΑΓΚΡΑΤΙ                             4.233160
ΑΜΠΕΛΟΚΗΠΟΙ                          3.586427
ΚΟΛΩΝΑΚΙ                             3.309256
ΑΚΡΟΠΟΛΗ                             3.099278
ΠΕΤΡΑΛΩΝΑ                            2.998488
ΘΗΣΕΙΟ                               2.880900
ΚΕΡΑΜΕΙΚΟΣ                           2.628927
ΚΥΨΕΛΗ                               2.024189
ΣΤΑΔΙΟ                               1.931799
ΓΟΥΔΙ                                1.839409
ΙΛΙΣΙΑ                               1.705023
ΖΑΠΠΕΙΟ                              1.411053
ΠΛΑΤΕΙΑ ΑΜΕΡΙΚΗΣ                     1.343860
ΝΙΡΒΑΝΑ                              1.285066
ΛΥΚΑΒΗΤΤΟΣ                           1.285066
ΠΑΤΗΣΙΑ                              1.243071
ΓΚΥΖΗ                                0.923904
ΑΝΩ ΚΥΨΕΛΗ                           0.856711
ΚΟΛΩΝΟΣ                              0.848312
ΓΚΑΖΙ                                0.814715
ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ                       0.789518
ΠΕΔΙΟ ΑΡΕΩΣ                          0.755921
ΑΚΑΔΗΜΙΑ ΠΛΑΤΩΝΟΣ                    0.722325
ΓΟΥΒΑ                                0.655132
ΒΟΤΑΝΙΚΟΣ                            0.621535
ΣΤΑΘΜΟΣ ΛΑΡΙΣΗΣ                      0.621535
ΕΛΛΗΝΟΡΩΣΩΝ                          0.596338
ΑΝΩ ΠΑΤΗΣΙΑ                          0.512347
ΝΕΑ ΚΥΨΕΛΗ                           0.478750
1Ο ΝΕΚΡΟΤΑΦΕΙΟ                       0.445154
ΣΕΠΟΛΙΑ                              0.344364
ΑΓΙΟΣ ΕΛΕΥΘΕΡΙΟΣ                     0.260373
ΠΟΛΥΓΩΝΟ                             0.218377
ΚΟΛΟΚΥΝΘΟΥ                           0.117588
ΠΡΟΜΠΟΝΑ                             0.092390
ΡΙΖΟΥΠΟΛΗ                            0.083991
ΡΗΓΙΛΛΗΣ                             0.033597
ΠΕΝΤΑΓΩΝΟ                            0.016798
Name: proportion, dtype: float64

In [18]:
ent_house.head()

,index,id,name,host_id,host_name,host_since,host_location,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,neighbourhood,neighbourhood_cleansed,latitude,longitude,property_type,room_type,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_365,review_scores_rating,review_scores_accuracy,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,many_properties
0,1,39069205,Rental unit in Athina · 2 bedrooms · 2 beds · ...,299446668,Nikos,2019-10-02,NaN,f,Kolonaki,1,2,"Athina, Greece",ΚΟΛΩΝΑΚΙ,37.979190,23.745320,Entire rental unit,Entire home/apt,$293.00,2,10,2,2,10,10,2.0,10.0,173,NaN,NaN,NaN,f,1,1,0,0,0
1,2,653274914834812593,Condo in Athina · ★5.0 · 1 bedroom · 2 beds · ...,272702874,Costas,2019-07-01,"Athens, Greece",t,NaN,1,1,"Athina, Greece",ΚΟΥΚΑΚΙ-ΜΑΚΡΥΓΙΑΝΝΗ,37.966000,23.727170,Entire condo,Entire home/apt,$60.00,1,365,1,1,1125,1125,1.0,1125.0,263,5.00,5.00,00001652202,t,1,1,0,0,0
2,3,54361219,Rental unit in Athina · ★4.75 · 1 bedroom · 1 ...,433120301,Iordanka,2021-11-23,NaN,f,NaN,1,1,NaN,ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ,37.975890,23.732750,Entire rental unit,Entire home/apt,$93.00,1,365,1,1,365,365,1.0,365.0,335,4.75,4.83,00001402443,t,1,1,0,0,0
3,4,51258073,Rental unit in Athina · ★5.0 · Studio · 3 beds...,199937958,Nick,2018-07-04,"Athens, Greece",f,Psyri,3,3,NaN,ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ,37.979220,23.724700,Entire rental unit,Entire home/apt,$119.00,2,365,2,2,1125,1125,2.0,1125.0,218,5.00,5.00,00002160731,f,3,3,0,0,1
4,5,986232372259000220,Rental unit in Athina · ★5.0 · 1 bedroom · 1 b...,220064887,Alexandros,2018-10-11,"Arta, Greece",t,Patisia,7,7,"Athina, Greece",ΠΑΤΗΣΙΑ,38.012449,23.729683,Entire rental unit,Entire home/apt,$45.00,2,365,2,2,365,365,2.0,365.0,84,5.00,5.00,00002219582,t,2,2,0,0,0

### What percentage of the houses are owned by business hosts?

In [19]:
ent_house["many_properties"].value_counts(normalize=True)*100

many_properties
1    53.997984
0    46.002016
Name: proportion, dtype: float64

### Let's see the average price per night per area

In [20]:
from money_parser import price_str
from decimal import Decimal

In [21]:
def correct_prices(dirty_price):
    # This line checks if the dirty_price is not a NaN value
    # If dirty_price is not NaN, the function proceeds to correct the price
    if not pd.isna(dirty_price): 
        # 'price_str' converts the string representation of a monetary value into a numerical format
        amount_num = price_str(dirty_price) 
        #it converts it into a Decimal object
        amount_decimal = Decimal(str(amount_num)) 
        #The Decimal object is converted back to a float number
        return float(amount_decimal)

In [22]:
# in every price of the 'price' column, apply the function
ent_house['cleaned_price'] = ent_house['price'].apply(lambda x: correct_prices(x))

In [23]:
# The agg() method allows you to apply a function to be executed along one of the axis of the df.

# group by the columns 'neighbourhood_cleansed', 'many_properties' 
# and apply aggregatedly the functions of sum, mean and median in the columns I tell you to.

ent_house.groupby(by=['neighbourhood_cleansed', 'many_properties']).agg({
    'many_properties':'sum',
    'cleaned_price':['median', 'mean']}).reset_index()

              neighbourhood_cleansed many_properties       cleaned_price
                                                       sum        median
0                     1Ο ΝΕΚΡΟΤΑΦΕΙΟ               0     0          49.0  \
1                     1Ο ΝΕΚΡΟΤΑΦΕΙΟ               1    25          93.0
2                   ΑΓΙΟΣ ΕΛΕΥΘΕΡΙΟΣ               0     0          40.0
3                   ΑΓΙΟΣ ΕΛΕΥΘΕΡΙΟΣ               1    12          73.0
4   ΑΓΙΟΣ ΚΩΝΣΤΑΝΤΙΝΟΣ-ΠΛΑΤΕΙΑ ΒΑΘΗΣ               0     0          51.0
5   ΑΓΙΟΣ ΚΩΝΣΤΑΝΤΙΝΟΣ-ΠΛΑΤΕΙΑ ΒΑΘΗΣ               1   400          46.0
6                     ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ               0     0          40.0
7                     ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ               1    35          50.0
8                  ΑΚΑΔΗΜΙΑ ΠΛΑΤΩΝΟΣ               0     0          47.0
9                  ΑΚΑΔΗΜΙΑ ΠΛΑΤΩΝΟΣ               1    27          46.0
10                          ΑΚΡΟΠΟΛΗ               0     0          78.5
11                          ΑΚΡΟΠΟΛΗ               1   194         109.0
12                       ΑΜΠΕΛΟΚΗΠΟΙ               0     0          55.0
13                       ΑΜΠΕΛΟΚΗΠΟΙ               1   184          59.0
14                        ΑΝΩ ΚΥΨΕΛΗ               0     0          45.0
15                        ΑΝΩ ΚΥΨΕΛΗ               1    37          43.0
16                       ΑΝΩ ΠΑΤΗΣΙΑ               0     0          49.0
17                       ΑΝΩ ΠΑΤΗΣΙΑ               1    12          47.5
18                         ΒΟΤΑΝΙΚΟΣ               0     0          58.0
19                         ΒΟΤΑΝΙΚΟΣ               1    25          60.0
20                             ΓΚΑΖΙ               0     0          65.0
21                             ΓΚΑΖΙ               1    63          60.5
22                             ΓΚΥΖΗ               0     0          51.0
23                             ΓΚΥΖΗ               1    30          40.0
24                             ΓΟΥΒΑ               0     0          60.0
25                             ΓΟΥΒΑ               1    31          60.0
26                             ΓΟΥΔΙ               0     0          57.5
27                             ΓΟΥΔΙ               1   104          60.0
28                       ΕΛΛΗΝΟΡΩΣΩΝ               0     0          53.5
29                       ΕΛΛΗΝΟΡΩΣΩΝ               1    26          70.0
30            ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ               0     0          88.0
31            ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ               1  1540          89.0
32                           ΖΑΠΠΕΙΟ               0     0          76.0
33                           ΖΑΠΠΕΙΟ               1   131         118.5
34                            ΘΗΣΕΙΟ               0     0          70.5
35                            ΘΗΣΕΙΟ               1   177          79.0
36                            ΙΛΙΣΙΑ               0     0          65.0
37                            ΙΛΙΣΙΑ               1   102          80.0
38                        ΚΕΡΑΜΕΙΚΟΣ               0     0          69.0
39                        ΚΕΡΑΜΕΙΚΟΣ               1   193          87.0
40                        ΚΟΛΟΚΥΝΘΟΥ               0     0          40.0
41                        ΚΟΛΟΚΥΝΘΟΥ               1     5          44.5
42                          ΚΟΛΩΝΑΚΙ               0     0          84.0
43                          ΚΟΛΩΝΑΚΙ               1   182         104.0
44                           ΚΟΛΩΝΟΣ               0     0          50.0
45                           ΚΟΛΩΝΟΣ               1    30          50.0
46               ΚΟΥΚΑΚΙ-ΜΑΚΡΥΓΙΑΝΝΗ               0     0          74.0
47               ΚΟΥΚΑΚΙ-ΜΑΚΡΥΓΙΑΝΝΗ               1   621          96.0
48                            ΚΥΨΕΛΗ               0     0          50.0
49                            ΚΥΨΕΛΗ               1   108          61.5
50                        ΛΥΚΑΒΗΤΤΟΣ               0     0          65.0
51                        ΛΥΚΑΒΗΤΤΟΣ               1    67          65.5
52          ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ               0     0          56.0
53          ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ               1   478          69.0
54                        ΝΕΑ ΚΥΨΕΛΗ               0     0          56.5
55                        ΝΕΑ ΚΥΨΕΛΗ               1    17          50.0
56                       ΝΕΟΣ ΚΟΣΜΟΣ               0     0          60.0
57                       ΝΕΟΣ ΚΟΣΜΟΣ               1   489          66.0
58                           ΝΙΡΒΑΝΑ               0     0          41.0
59                           ΝΙΡΒΑΝΑ               1    73          45.0
60                          ΠΑΓΚΡΑΤΙ               0     0          57.0
61                          ΠΑΓΚΡΑΤΙ               1   245          73.0
62                           ΠΑΤΗΣΙΑ               0     0          48.0
63                           ΠΑΤΗΣΙΑ               1    60          48.0
64                       ΠΕΔΙΟ ΑΡΕΩΣ               0     0          50.0
65                       ΠΕΔΙΟ ΑΡΕΩΣ               1    44          72.0
66                         ΠΕΝΤΑΓΩΝΟ               0     0          43.5
67                         ΠΕΤΡΑΛΩΝΑ               0     0          58.0
68                         ΠΕΤΡΑΛΩΝΑ               1   178          62.0
69                  ΠΛΑΤΕΙΑ ΑΜΕΡΙΚΗΣ               0     0          45.0
70                  ΠΛΑΤΕΙΑ ΑΜΕΡΙΚΗΣ               1    57          43.0
71                   ΠΛΑΤΕΙΑ ΑΤΤΙΚΗΣ               0     0          45.0
72                   ΠΛΑΤΕΙΑ ΑΤΤΙΚΗΣ               1   267          51.0
73                          ΠΟΛΥΓΩΝΟ               0     0          55.0
74                          ΠΟΛΥΓΩΝΟ               1     2         134.0
75                          ΠΡΟΜΠΟΝΑ               0     0          60.0
76                          ΠΡΟΜΠΟΝΑ               1     2          61.5
77                          ΡΗΓΙΛΛΗΣ               0     0         139.0
78                         ΡΙΖΟΥΠΟΛΗ               0     0          59.0
79                         ΡΙΖΟΥΠΟΛΗ               1     1         100.0
80                           ΣΕΠΟΛΙΑ               0     0          50.0
81                           ΣΕΠΟΛΙΑ               1    15          60.0
82                            ΣΤΑΔΙΟ               0     0          65.0
83                            ΣΤΑΔΙΟ               1   115          77.0
84                   ΣΤΑΘΜΟΣ ΛΑΡΙΣΗΣ               0     0          48.0
85                   ΣΤΑΘΜΟΣ ΛΑΡΙΣΗΣ               1    25          52.0


          mean
0    54.625000
1   122.875000
2    48.000000
3    69.909091
4    67.785479
5    59.519084
6    56.285714
7    54.857143
8    55.690909
9    44.555556
10  102.632530
11  273.359375
12   62.504310
13   73.093923
14   51.145161
15   47.486486
16   56.446809
17   55.333333
18  177.361702
19   87.560000
20   69.787879
21   82.370968
22   64.500000
23   43.800000
24   66.340426
25   63.419355
26   74.830357
27   67.145631
28   59.772727
29   95.961538
30  135.622540
31  128.886706
32   90.200000
33  242.900000
34   95.278481
35  114.377143
36   76.131313
37   97.420000
38  113.241379
39  115.486911
40   39.375000
41   44.250000
42  113.049261
43  129.145251
44   54.731343
45   58.862069
46   99.177570
47  123.825733
48   66.472441
49   78.971698
50  100.813953
51   85.575758
52   69.247475
53  257.282979
54   63.894737
55   54.117647
56   74.106132
57   89.521739
58   46.101266
59   55.439394
60   77.179592
61   96.676349
62   73.000000
63   55.533333
64   58.022222
65   94.153846
66   43.500000
67   85.588571
68   78.033898
69   51.135417
70   62.035088
71   95.432900
72  104.420849
73   64.181818
74  134.000000
75   64.250000
76   61.500000
77  653.500000
78   57.000000
79  100.000000
80   51.520000
81   86.133333
82   80.527273
83   95.315315
84   62.913043
85   51.000000